.doc {
	height: 100%;
}

.doc-top {
	min-height: 100%;
}

.doc-top:after {
	content: '';
	display: block;
	height: 100px;
}

.doc-top + .footer {
	margin-top: -60px;
}


/* header */

.doc-header {
    font: 14px Arial, sans-serif;
    color: #fff;
    background: #009EEB;
    min-width: 960px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.doc-header__inner {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.doc-header__logo {
    position: absolute;
    top: 0;
    left: 0;
}

.doc-header__logo-link {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.doc-header__logo-link:active {
    line-height: 52px;
}

.doc-header__nav {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid #0090D5;
}

.doc-header__nav-item {
    float: left;
    display: block;
    position: relative;
    border-left: 1px solid #0090D5;
    border-right: 1px solid #21ABEE;
}

.doc-header__nav-inner {
    display: block;
    height: 35px;
    line-height: 15px;
    padding: 15px 20px 0 20px;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.doc-header__nav-item:first-child {
    border-left: none;
}

.doc-header__nav-title {
    display: block;
    height: 16px;
    line-height: 16px;
    float: left;
    border-bottom: 1px solid #4DBBF1;
}

.doc-header__nav-title:first-letter {
    text-transform: uppercase;
}

.doc-header__nav-icon {
    width: 16px;
    height: 16px;
    float: left;
    display: block;
    margin-right: 8px;
}

.doc-header__nav-item_user .doc-header__nav-icon {
    background: url('../img/header-icons.png') no-repeat 0 0;
}

.doc-header__nav-item_list .doc-header__nav-icon {
    background: url('../img/header-icons.png') no-repeat -100px 0;
}

.doc-header__nav-item_help .doc-header__nav-icon {
    background: url('../img/header-icons.png') no-repeat -150px 0;
}

.doc-header__nav-arrow {
    display: block;
    float: left;
    width: 9px;
    height: 6px;
    margin: 6px 0 0 8px;
    background: url('../img/header-icons.png') no-repeat -49px 0;
}

.doc-header__nav-dropdown {
    position: absolute;
    display: none;
}

.doc-header__nav-item_active,
.doc-header__nav-item:hover {
    border: none;
    margin: 0 -1px;
    z-index: 1;
}

.doc-header__nav-item_active .doc-header__nav-inner,
.doc-header__nav-item:hover .doc-header__nav-inner {
    color: #fff;
    background: #0081C1;
    padding-left: 22px;
    padding-right: 22px;
}

.doc-header__nav-item_active .doc-header__nav-inner:after {
	content: '';
    display: block;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    background: #0081C1;
    width: 8px;
    height: 8px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
}

.doc-header__nav-item_active .doc-header__nav-title,
.doc-header__nav-inner:hover .doc-header__nav-title {
    border-color: #4DA8D4;
}

/* / header */

/* tips */

.doc-tips {
	margin: 12px auto 0 auto;
	width: 938px;
	padding: 13px 10px;
	position: relative;
	border-radius: 3px;
	border: 1px solid #C6BFAF;
	background: #FFF8D4;
	box-shadow: 0 1px 3px rgba(0,0,0,.12);
}

.doc-tips__corner {
	position: absolute;
	overflow: hidden;
	width: 20px;
	height: 20px;
	top: -20px;
}

.doc-tips__corner-inner {
	position: absolute;
	border: 1px solid #C6BFAF;
	background: #FFF8D4;
/*	background: green;*/
	width: 20px;
	height: 20px;
	bottom: -19px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
}

.doc-tips__heading {
	color: #625F51;
	float: left;
	font-weight: bold;
}

.doc-tips__nav {
	line-height: 14px;
	float: right;
}

.doc-tips__nav-item {
    font-size: 18px;
	float: left;
	margin-left: 25px;
    color: #B06F5A;
}

.doc-tips__nav-item:first-child {
	margin-left: 0;
}

.doc-tips__nav-item-inner {
    font-size: 13px;
    color: #B06F5A;
    text-decoration: none;
    border-bottom: 1px solid #EBD5B4;
    cursor: pointer;
}

.doc-tips__nav-item-inner:hover {
    color: #B06F5A;
    border-color: #B06F5A;
}

.doc-tips__text {
	font-size: 13px;
	line-height: 18px;
	overflow: hidden;
	clear: both;
	padding-top: 12px;
}

/* / tips */

/* ad */

.doc-ad {
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
}

.doc-ad__banner {
	width: 600px;
	height: 90px;
	background: rgba(0,0,0,.4);
	margin: 0 auto;
}

/* / ad */

/* sheet */

.doc-sheet {
	width: 804px;
	padding: 78px;
	background: #fff;
	border: 1px solid #97ACB6;
	box-shadow: 0 3px 8px rgba(0,0,0,.25);
	margin: 14px auto 0 auto;
    position: relative;
}

/* / sheet */

/* buttons */

.doc-button {
    display: inline-block;
    background-color: #d6dfe4;
    background-image: linear-gradient(bottom, #CAD4D8 11%, #E9F2F6 87%);
    background-image: -o-linear-gradient(bottom, #CAD4D8 11%, #E9F2F6 87%);
    background-image: -moz-linear-gradient(bottom, #CAD4D8 11%, #E9F2F6 87%);
    background-image: -webkit-linear-gradient(bottom, #CAD4D8 11%, #E9F2F6 87%);
    background-image: -ms-linear-gradient(bottom, #CAD4D8 11%, #E9F2F6 87%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #CAD4D8),
        color-stop(0.87, #E9F2F6)
    );
    border: 1px solid #8f9da3;
    border-radius: 3px;
    box-shadow: inset 0 -1px 1px rgba(105,140, 156, .3),
                inset 0 1px 0 rgba(255,255,255,.4);
    color: #2b2b2b;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    padding: 0 12px;
    line-height: 25px;
    font-size: 14px;
}

.doc-button:hover {
    background-color: #e3eef4;
    background-image: linear-gradient(bottom, #DCEBF1 11%, #E9F2F6 87%);
    background-image: -o-linear-gradient(bottom, #DCEBF1 11%, #E9F2F6 87%);
    background-image: -moz-linear-gradient(bottom, #DCEBF1 11%, #E9F2F6 87%);
    background-image: -webkit-linear-gradient(bottom, #DCEBF1 11%, #E9F2F6 87%);
    background-image: -ms-linear-gradient(bottom, #DCEBF1 11%, #E9F2F6 87%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #DCEBF1),
        color-stop(0.87, #E9F2F6)
    );
    box-shadow: inset 0 -1px 1px rgba(105,140, 156, .3),
                inset 0 1px 0 rgba(255,255,255,.4),
                0 1px 1px rgba(0,0,0,.2);
}

.doc-button:active {
    background-color: #c5d2d8;
    background-image: linear-gradient(bottom, #BAC8CE 11%, #CFDCE2 87%);
    background-image: -o-linear-gradient(bottom, #BAC8CE 11%, #CFDCE2 87%);
    background-image: -moz-linear-gradient(bottom, #BAC8CE 11%, #CFDCE2 87%);
    background-image: -webkit-linear-gradient(bottom, #BAC8CE 11%, #CFDCE2 87%);
    background-image: -ms-linear-gradient(bottom, #BAC8CE 11%, #CFDCE2 87%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #BAC8CE),
        color-stop(0.87, #CFDCE2)
    );
    box-shadow: inset 0 2px 3px rgba(105,140, 156, .6);
    outline: none;
}

.doc-button:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgba(101,193,255,.75);
}

.doc-button__inner {
    position: relative;
}

.doc-button:active .doc-button__inner {
    bottom: -1px;
}

.doc-button_color_blue {
    background-color: #0b9ce3;
    background-image: linear-gradient(bottom, #008BD1 0%, #1DB4FF 100%);
    background-image: -o-linear-gradient(bottom, #008BD1 0%, #1DB4FF 100%);
    background-image: -moz-linear-gradient(bottom, #008BD1 0%, #1DB4FF 100%);
    background-image: -webkit-linear-gradient(bottom, #008BD1 0%, #1DB4FF 100%);
    background-image: -ms-linear-gradient(bottom, #008BD1 0%, #1DB4FF 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #008BD1),
        color-stop(1, #1DB4FF)
    );
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,88,132, .8);
    border: 1px solid #007fbe;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 1px 1px rgba(0,118,176,.22);
}

.doc-button_color_blue:hover {
    background-color: #29b9ff;
    background-image: linear-gradient(bottom, #14B1FF 0%, #40BFFF 100%);
    background-image: -o-linear-gradient(bottom, #14B1FF 0%, #40BFFF 100%);
    background-image: -moz-linear-gradient(bottom, #14B1FF 0%, #40BFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #14B1FF 0%, #40BFFF 100%);
    background-image: -ms-linear-gradient(bottom, #14B1FF 0%, #40BFFF 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #14B1FF),
        color-stop(1, #40BFFF)
    );
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 1px 1px rgba(0,118,176,.22),
                0 1px 1px rgba(0,0,0,.2);
}

.doc-button_color_blue:active {
    background-color: #0883bf;
    background-image: linear-gradient(bottom, #0077B2 0%, #1394D0 100%);
    background-image: -o-linear-gradient(bottom, #0077B2 0%, #1394D0 100%);
    background-image: -moz-linear-gradient(bottom, #0077B2 0%, #1394D0 100%);
    background-image: -webkit-linear-gradient(bottom, #0077B2 0%, #1394D0 100%);
    background-image: -ms-linear-gradient(bottom, #0077B2 0%, #1394D0 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #0077B2),
        color-stop(1, #1394D0)
    );
    box-shadow: inset 0 3px 3px rgba(0,88,132, .4);
}

.doc-button_color_green {
    background-color: #6aa77d;
    background-image: linear-gradient(bottom, #5F9570 0%, #7CC291 100%);
    background-image: -o-linear-gradient(bottom, #5F9570 0%, #7CC291 100%);
    background-image: -moz-linear-gradient(bottom, #5F9570 0%, #7CC291 100%);
    background-image: -webkit-linear-gradient(bottom, #5F9570 0%, #7CC291 100%);
    background-image: -ms-linear-gradient(bottom, #5F9570 0%, #7CC291 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #5F9570),
        color-stop(1, #7CC291)
    );
    color: #fff;
    text-shadow: 0 -1px 0 rgba(44,77,54,.5);
    border: 1px solid #4d7d5c;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 1px rgba(103,161,120,.26);
}

.doc-button_color_green:hover {
    background-color: #79bd8d;
    background-image: linear-gradient(bottom, #62B67B 0%, #7CC291 100%);
    background-image: -o-linear-gradient(bottom, #62B67B 0%, #7CC291 100%);
    background-image: -moz-linear-gradient(bottom, #62B67B 0%, #7CC291 100%);
    background-image: -webkit-linear-gradient(bottom, #62B67B 0%, #7CC291 100%);
    background-image: -ms-linear-gradient(bottom, #62B67B 0%, #7CC291 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #62B67B),
        color-stop(1, #7CC291)
    );
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 1px rgba(103,161,120,.26),
                0 1px 1px rgba(0,0,0,.2);
}

.doc-button_color_green:active {
    background-color: #58946a;
    background-image: linear-gradient(bottom, #548E66 0%, #63A577 100%);
    background-image: -o-linear-gradient(bottom, #548E66 0%, #63A577 100%);
    background-image: -moz-linear-gradient(bottom, #548E66 0%, #63A577 100%);
    background-image: -webkit-linear-gradient(bottom, #548E66 0%, #63A577 100%);
    background-image: -ms-linear-gradient(bottom, #548E66 0%, #63A577 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #548E66),
        color-stop(1, #63A577)
    );
    box-shadow: inset 0 3px 3px rgba(44,77,54,.35);
}

.doc-button_color_grey {
    background-color: #6b95a8;
    background-image: linear-gradient(bottom, #5F8495 0%, #7CACC3 100%);
    background-image: -o-linear-gradient(bottom, #5F8495 0%, #7CACC3 100%);
    background-image: -moz-linear-gradient(bottom, #5F8495 0%, #7CACC3 100%);
    background-image: -webkit-linear-gradient(bottom, #5F8495 0%, #7CACC3 100%);
    background-image: -ms-linear-gradient(bottom, #5F8495 0%, #7CACC3 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #5F8495),
        color-stop(1, #7CACC3)
    );
    color: #fff;
    text-shadow: 0 -1px 0 rgba(45,70,82,.5);
    border: 1px solid #4d6d7c;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 1px rgba(103,143,161,.26);
}

.doc-button_color_grey:hover {
    background-color: #76a6bc;
    background-image: linear-gradient(bottom, #72A1B7 0%, #7CACC3 100%);
    background-image: -o-linear-gradient(bottom, #72A1B7 0%, #7CACC3 100%);
    background-image: -moz-linear-gradient(bottom, #72A1B7 0%, #7CACC3 100%);
    background-image: -webkit-linear-gradient(bottom, #72A1B7 0%, #7CACC3 100%);
    background-image: -ms-linear-gradient(bottom, #72A1B7 0%, #7CACC3 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #72A1B7),
        color-stop(1, #7CACC3)
    );
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 1px rgba(103,143,161,.26),
                0 1px 1px rgba(0,0,0,.2);
}

.doc-button_color_grey:active {
    background-color: #597d8d;
    background-image: linear-gradient(bottom, #517280 0%, #638B9D 100%);
    background-image: -o-linear-gradient(bottom, #517280 0%, #638B9D 100%);
    background-image: -moz-linear-gradient(bottom, #517280 0%, #638B9D 100%);
    background-image: -webkit-linear-gradient(bottom, #517280 0%, #638B9D 100%);
    background-image: -ms-linear-gradient(bottom, #517280 0%, #638B9D 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #517280),
        color-stop(1, #638B9D)
    );
    box-shadow: inset 0 3px 3px rgba(45,70,82,.4);
}

.doc-button_size_20 {
    line-height: 20px;
}

.doc-button_size_25 {
    line-height: 25px;
}

.doc-button_size_28 {
    line-height: 28px;
}

.doc-button_size_36 {
    line-height: 36px;
    font-size: 15px;
}

.doc-button_save,
.doc-button_act,
.doc-button_preview,
.doc-button_print {
    font-weight: bold;
    padding: 0 15px;
}

.doc-button_save .doc-button__icon,
.doc-button_act .doc-button__icon,
.doc-button_preview .doc-button__icon,
.doc-button_print .doc-button__icon {
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 10px;
    vertical-align: text-bottom;
    background: url('../img/doc-icons.png') no-repeat;
}

.doc-button_save .doc-button__icon {
    background-position: 0 0;
}
.doc-button_act .doc-button__icon {
    background-position: -50px 0;
}
.doc-button_preview .doc-button__icon {
    background-position: -100px 0;
}
.doc-button_print .doc-button__icon {
    background-position: -150px 0;
}

.doc-button_bottom-control {
    font-weight: bold;
    font-size: 13px;
    padding: 0 10px;
}

.doc-button_pdf .doc-button__icon,
.doc-button_doc .doc-button__icon {
    display: inline-block;
    width: 17px;
    height: 16px;
    margin-right: 4px;
    vertical-align: text-top;
    background: url('../img/doc-icons.png') no-repeat -200px 0;
}

/* / buttons */

/* inputs */

.doc-sheet-field__input {
    color: #2c333b;
    font: 15px/18px Arial, sans-serif;
    border-bottom: 1px dotted #797C80;
    padding: 1px 1px 0 1px;
    border-radius: 1px;
    display: inline-block;
}

.doc-sheet-field__input:focus {
    border: 1px solid #50ACEC;
    box-shadow: 0 0 2px 1px rgba(101,193,255,.75);
    outline: none;
    padding: 0;
    border-radius: 3px;
}

.doc-field__input {
    background: #fff;
    color: #2c333b;
    text-indent: 5px;
    border-radius: 2px;
    font: 13px/28px Arial, sans-serif;
    height: 28px;
    border: 1px solid #ADADAD;
    border-top-color: #7C7C7C;
    border-bottom-color: #B3B3B3;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.24);
}

.doc-field__input:focus {
    border: 1px solid #50ACEC;
    outline: none;
    padding: 0;
    border: 1px solid #50ACEC;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.24),
                0 0 2px 1px rgba(101,193,255,.75);
}

.doc-sheet-field__input::-webkit-input-placeholder {
    color: #99aab1;
}

.doc-sheet-field__input:-moz-placeholder {
    color: #99aab1;
}

.doc-sheet-field__input:-ms-input-placeholder {
    color: #99aab1;
}

.doc-field__input::-webkit-input-placeholder {
    color: #99aab1;
}

.doc-field__input:-moz-placeholder {
    color: #99aab1;
}

.doc-field__input:-ms-input-placeholder {
    color: #99aab1;
}

.doc-sheet-field {
    display: inline-block;
    line-height: 18px;
    padding: 2px 0;
}

.doc-sheet-field__before,
.doc-sheet-field__after {
    font-size: 15px;
    line-height: 18px;
}

.doc-sheet-field__before {
    margin-right: -2px;
}

.doc-sheet-field__after {
    margin-left: -2px;
}

.doc-field_range {
    line-height: 21px;
    overflow: hidden;
    display: inline-block;
}

.doc-field_range .doc-field__input {
    line-height: 21px;
    height: 21px;
    width: 25px;
    padding: 0 24px;
    float: left;
    margin-left: -23px;
    text-align: center;
    text-indent: 0;
}

.doc-field_range .doc-button {
    line-height: 21px;
    padding: 0;
    text-align: center;
    width: 23px;
    float: left;
    position: relative;
}

.doc-field_range__increase {
    margin-left: -23px;
}

.doc-field_size_20 .doc-field__input {
    line-height: 20px;
    height: 20px;
    text-indent: 3px;
}

/* / inputs */

/* selects */

.doc-sheet-select__el {
    margin: 0;
    padding: 2px 8px 2px 5px;
    background: #fff;
    color: #2c333b;
    font: 13px Arial, sans-serif;
    height: 24px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    outline: none;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: left;
}

.doc-sheet-select__el:focus {
    border: 1px solid #50ACEC;
    box-shadow: 0 0 2px 1px rgba(101,193,255,.75);
    outline: none;
}

.doc-sheet-select {
    position: relative;
    padding-right: 4px;
    display: inline-block;
    vertical-align: bottom;
}

.doc-sheet-select:after {
    content: '▼';
    color: #8B8F93;
    text-indent: 6px;
    text-align: left;
    font-size: 11px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin: 1px 0 0 -23px;
    background: #fff;
    position: relative;
    z-index: 2;
    float: left;
    pointer-events: none;
    display: block;
    border-radius: 0 2px 2px 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* webkit only */
    .doc-sheet-select__el {
        padding-right: 24px;
    }
}

_:-o-prefocus, .doc-sheet-select__el { /* opera only */
    padding-right: 14px;
    padding-left: 5px;
}

_:-o-prefocus, .doc-sheet-select:after { /* opera only */
    border-radius: 0 1px 1px 0;
}

/* / selects */


/* tables */

.doc-sheet-table {
    color: #69787f;
}

.doc-sheet-table__td,
.doc-sheet-table__th {
    border: 1px solid #aaaaaa;
    padding: 4px 6px 5px 6px;
}

.doc-sheet-table_width_100 {
    width: 100%;
}

.doc-sheet-table__col_width_5 {
    width: 5%;
}

.doc-sheet-table__col_width_10 {
    width: 10%;
}

.doc-sheet-table__col_width_15 {
    width: 15%;
}

.doc-sheet-table__col_width_30 {
    width: 30%;
}

.doc-sheet-table__col_width_40 {
    width: 40%;
}

.doc-sheet-table__col_width_45 {
    width: 45%;
}

.doc-sheet-table__col_width_60 {
    width: 60%;
}

.doc-sheet-table__list_inline .doc-sheet-table__list-item {
    display: inline-block;
}

.doc-sheet-table__list-item_width_50 {
    width: 49%;
}

.doc-sheet-table__td_align_top {
    vertical-align: top;
}

.doc-sheet-table__td_align_bottom {
    vertical-align: bottom;
}

.doc-sheet-table__td_align_center {
    text-align: center;
}

.doc-sheet-table__td_align_right {
    text-align: right;
}

.doc-sheet-table_border_none,
.doc-sheet-table_border_none .doc-sheet-table__td,
.doc-sheet-table_border_none .doc-sheet-table__th {
    border: 0;
}

.doc-sheet-table_padding_none {
    padding: 0;
}

/* / tables */


/* headers */

.doc-sheet-h1 {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #69787f;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
}

.doc-sheet-h1 .doc-sheet-field__input {
    font-size: 24px;
    line-height: 26px;
    font-weight: bold;
    display: inline-block;
    min-width: 20px;
}

.doc-sheet-h3 {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #69787f;
    padding-bottom: 16px;
}

/* / headers */

.doc-sheet-signatures {
    padding-top: 100px;
    padding-bottom: 40px;
}

.doc-sheet-signatures__row {
    padding-bottom: 14px;
    color: #69787f;
}

.doc-sheet-signatures__position {
    display: inline-block;
    width: 130px;
    vertical-align: bottom;
    padding-bottom: 3px;
}

.doc-sheet-signatures__space {
    display: inline-block;
    width: 200px;
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 3px;
}

.doc-sheet-signatures__name {
    vertical-align: text-top;
}

.doc-sheet-stamp {
    position: absolute;
    bottom: 60px;
    right: 80px;
    border: 1px solid #cccccc;
    border-radius: 200px;
    width: 200px;
    height: 200px;
}

.doc-sheet-stamp__title {
    width: 100px;
    text-align: center;
    color: #69787f;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -50px;
}

.doc-sheet-stamp__button {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}

.doc-sheet-b {
    font-weight: bold;
}

.doc-sheet-org-info {
    padding-left: 2px;
}

.doc-sheet-row {
    clear: both;
    padding-bottom: 6px;
}

.doc-button_add {
    margin-top: 10px;
}

.doc-sheet-block_header {
    padding-bottom: 55px;
}

.doc-sheet-org-info .doc-sheet-row {
    padding-bottom: 10px;
}

.doc-sheet-block_tables {
    padding-bottom: 70px;
}

.doc-sheet-table_client-org {
    margin-bottom: 20px;
}

.doc-sheet-table_order {
    margin-bottom: 30px;
}

.doc-sheet-table-cell_size_26 {
    line-height: 26px;
}

.doc-sheet-block_annotation {
    margin-top: 50px;
}

.doc-sheet-block_annotation .doc-sheet-field__input {
    line-height: 20px;
    font-size: 14px;
    margin-left: -4px;
    margin-right: -4px;
    padding: 4px;
    border-radius: 3px;
}

.doc-sheet-block_annotation .doc-sheet-field__input:not(:focus) {
    border-bottom: 0;
    padding: 5px;
}

.doc-sheet-block_annotation .doc-sheet-field__input:hover {
    box-shadow: 0 0 4px 1px rgba(101,193,255,.5);
}
