<div class="auth{% if class_name %} {{ class_name }}{% endif %}">
    <div class="auth-button" tabindex="-1">
        <div class="auth-button__caption">Вход с помощью</div>
        <ul class="auth-button__social">
            <li class="auth-button-social__item auth-button-social_item_yandex"></li>
            <li class="auth-button-social__item auth-button-social_item_google"></li>
            <li class="auth-button-social__item auth-button-social_item_vkontakte"></li>
            <li class="auth-button-social__item auth-button-social_item_odnoklassniki"></li>
            <li class="auth-button-social__item auth-button-social_item_dots">&hellip;</li>
            <li class="auth-button-social__item auth-button-social_item_arrow">&#x25bc;</li>
        </ul>
    </div>
    <div class="auth-login auth-dropdown">
        <div class="auth__caption auth-title">Вход с помощью</div>
        <ul class="auth-social">
            <li class="auth-social__service auth-social_service_yandex">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'yandex-oauth2' %}" title="Яндекс"></a>
            </li>
            <li class="auth-social__service auth-social_service_google">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'google' %}?next={{ project_url }}" title="Google"></a>
            </li>
            <li class="auth-social__service auth-social_service_vkontakte">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'vkontakte-oauth2' %}" title="ВКонтакте"></a>
            </li>
            <li class="auth-social__service auth-social_service_odnoklassniki">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'odnoklassniki' %}" title="Одноклассники"></a>
            </li>
            <li class="auth-social__service auth-social_service_mailru">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'mailru-oauth2' %}" title="Mail.ru"></a>
            </li>
            <li class="auth-social__service auth-social_service_facebook">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'facebook' %}" title="Facebook"></a>
            </li>
            <li class="auth-social__service auth-social_service_twitter">
                <a class="auth-social__service-link" href="{% url socialauth_begin 'twitter' %}" title="Twitter"></a>
            </li>
            <li class="auth-social__service_last"></li>
        </ul>
        <div class="auth-title">
            <i class="auth-title__divider"></i>
            <span class="auth-title__text">или</span>
        </div>
        <form class="auth-form"  method="post" action="{% url auth_login %}?next={{ project_url }}">{% csrf_token %}
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="email" type="email" placeholder="E-mail">
            </div>
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="password" type="password" placeholder="Пароль">
            </div>
            <div class="auth-form__submit-wrapper">
                <input class="auth-form__submit" value="Войти" type="submit">
            </div>
        </form>
        <div class="auth-title">
            <i class="auth-title__divider"></i>
            <span class="auth-title__text">или</span>
        </div>
        <div class="auth-link">
            <span class="auth-link__inner auth-link__register">Регистрация</span>
        </div>
    </div>
    <div class="auth-registration auth-dropdown">
        <div class="auth-title">Регистрация</div>
        <form class="auth-form" method="post" action="{% url registration_register %}">{% csrf_token %}
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="email" type="email" placeholder="E-mail">
            </div>
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="password" type="password" placeholder="Пароль">
            </div>
            <div class="auth-form__submit-wrapper">
                <input class="auth-form__submit" value="Регистрация" type="submit">
            </div>
        </form>
        <div class="auth-title">
            <i class="auth-title__divider"></i>
            <span class="auth-title__text">или</span>
        </div>
        <div class="auth-link">
            <span class="auth-link__inner auth-link__login">Вход</span>
        </div>
    </div>
</div>
