<div class="promo-header__auth auth">
    <div class="auth-login auth-dropdown auth_opened">
        <div class="auth__caption auth-title">Вход с помощью</div>
        <ul class="auth-social">
            <li class="auth-social__service auth-social_service_yandex">
                <a class="auth-social__service-link" href="#" title="Яндекс"></a>
            </li>
            <li class="auth-social__service auth-social_service_google">
                <a class="auth-social__service-link" href="#" title="Google"></a>
            </li>
            <li class="auth-social__service auth-social_service_vkontakte">
                <a class="auth-social__service-link" href="#" title="ВКонтакте"></a>
            </li>
            <li class="auth-social__service auth-social_service_odnoklassniki">
                <a class="auth-social__service-link" href="#" title="Одноклассники"></a>
            </li>
            <li class="auth-social__service auth-social_service_mailru">
                <a class="auth-social__service-link" href="#" title="Mail.ru"></a>
            </li>
            <li class="auth-social__service auth-social_service_facebook">
                <a class="auth-social__service-link" href="#" title="Facebook"></a>
            </li>
            <li class="auth-social__service auth-social_service_twitter">
                <a class="auth-social__service-link" href="#" title="Twitter"></a>
            </li>
            <li class="auth-social__service_last"></li>
        </ul>
        <div class="auth-title">
            <i class="auth-title__divider"></i>
            <span class="auth-title__text">или</span>
        </div>
        <form class="auth-form">
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="email" type="email" placeholder="E-mail">
            </div>
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="password" type="password" placeholder="Пароль">
            </div>
            <div class="auth-form__submit-wrapper">
                <input class="auth-form__submit" value="Войти" type="submit">
            </div>
        </form>
        <div class="auth-title">
            <i class="auth-title__divider"></i>
            <span class="auth-title__text">или</span>
        </div>
        <div class="auth-link">
            <span class="auth-link__inner">Регистрация</span>
        </div>
    </div>
    <div class="auth-registration auth-dropdown">
        <div class="auth-title">Регистрация</div>
        <form class="auth-form">
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="email" type="email" placeholder="E-mail">
            </div>
            <div class="auth-form__field-wrapper">
                <input class="auth-form__field" name="password" type="password" placeholder="Пароль">
            </div>
            <div class="auth-form__submit-wrapper">
                <input class="auth-form__submit" value="Регистрация" type="submit">
            </div>
        </form>
        <div class="auth-title">
            <i class="auth-title__divider"></i>
            <span class="auth-title__text">или</span>
        </div>
        <div class="auth-link">
            <span class="auth-link__inner">Вход</span>
        </div>
    </div>
</div>
