<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% block title %}Blanki.biz &mdash; создать счёт на отлату бесплатно и за 1 минуту{% endblock title %}</title>
<meta name="description" content="{% block meta-description %}{% endblock meta-description %}">
<meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}">

<!-- TODO: написать стандарный meta-description -->
<!-- TODO: написать стандарные meta-keywords -->
<!-- TODO: написать стандарный og-description (отписание страницы для шааринга в соц. сетях) -->
<!-- TODO: подкорректировать остальные og-теги -->

<meta property="og:image" content="{{ STATIC_URL }}img/social-logo.png">
<meta property="og:type" content="website">
<meta property="og:description" content="{% block og-description %}{% endblock og-description %}">
<meta property="og:site_name" content="Blanki.biz">
<meta property="og:email" content="support@blanki.biz">
<meta property="og:locale" content="ru_RU">

{% block css %}
{% endblock css %}

<!-- TODO: нарисовать иконки и подставить правильные пути -->

<link rel="shortcut icon" href="{{ STATIC_URL }}img/">
<link rel="apple-touch-icon" href="{{ STATIC_URL }}img/">

<!--[if lte IE 7 ]>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script type="text/javascript">
        window.attachEvent('onload', function(){
            CFInstall.check({mode:'overlay'})
        })
    </script>
<![endif]-->

<script type="text/javascript">
    var Blanki = Blanki || {};
</script>

</head>
<body class="body {% block body-classes %}{% endblock body-classes %}">

{% block content %}
{% endblock content %}

{% block js %}
{% endblock js %}

{% block init-js %}
{% endblock init-js %}

</body>
</html>
