{% extends 'base.html' %}

<!-- TODO: заполнить правильно title, meta и og теги для страницы счета на оплату -->

{% block meta-description %}мета-дескрипшн{% endblock meta-description %}
{% block meta-keywords %}ключевые слова{% endblock meta-keywords %}
{% block og-description %}Описание для фейсбука{% endblock og-description %}
{% block body-classes %}doc doc_invoice{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.common.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.css" rel="stylesheet">
<!--[if lte IE 8 ]>
<link href="{{ STATIC_URL }}css/common.ie.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.ie.css" rel="stylesheet">
<![endif]-->
{% endblock css %}

{% block content %}

    <div class="doc-top">

        {% include 'doc-header.html' with user_logged_in="True" %}

        <div class="doc-tips">
            <i class="doc-tips__corner">
                <i class="doc-tips__corner-inner"></i>
            </i>
            <div class="doc-tips__heading">Совет</div>
            <ul class="doc-tips__nav">
                <li class="doc-tips__nav-item doc-tips__nav-item_hide">
                    <span class="doc-tips__nav-item-inner">Больше не показывать</span>
                </li>
                <li class="doc-tips__nav-item doc-tips__nav-item_next">
                    <span class="doc-tips__nav-item-inner">Ещё совет</span> &rarr;
                </li>
            </ul>
            <div class="doc-tips__text">
                Чтобы сохранить счет, а также получить возможность генерировать и присылать новые счета регулярно &mdash;
                зарегистрируйтесь или войдите с помощью аккаунта в одной из социальных сетей.
            </div>
        </div>

        <div class="doc-ad">
            <div class="doc-ad__banner"></div>
        </div>

        <div class="doc-sheet">

            <div class="doc-sheet-block">
                <div class="doc-sheet-logo">
                    <div class="doc-sheet-logo__title">Загрузить<br> логотип</div>
                    <button class="doc-button doc-button_size_25 doc-sheet-logo__button">
                        <span class="doc-button__inner">Обзор...</span>
                    </button>
                </div>
                <div class="doc-sheet-org-info">
                    <div class="doc-sheet-row">
                        <span class="doc-sheet-select">
                            <select class="doc-sheet-select__el" name="org_type">
                                <option selected>ООО</option>
                                <option>ОАО</option>
                                <option>ЗАО</option>
                                <!-- TODO: Узнать все варианты -->
                            </select>
                        </span>
                        <span class="doc-sheet-field">
                            <span class="doc-sheet-field__before">&laquo;</span>
                            <input class="doc-sheet-field__input" type="text" value="Первая межгалактическая корпорация" name="org_name">
                            <span class="doc-sheet-field__after">&raquo;</span>
                        </span>
                    </div>
                    <div class="doc-sheet-row">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="115093, Москва, ул. Космонавтов, д. 42" name="org_address">
                        </span>
                    </div>
                    <div class="doc-sheet-row">
                        <span class="doc-sheet-select">
                            <select class="doc-sheet-select__el" name="org_phone_type">
                                <option>Телефон/факс</option>
                                <option>Телефон</option>
                                <option>Факс</option>
                                <option>E-mail</option>
                            </select>
                        </span>:
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="+7 (495) 123-77-77, +7 (495) 123-77-78" name="org_phone_value">
                        </span>
                    </div>
                </div>
            </div>

            <div class="doc-sheet-block doc-sheet-block_not-required">
                <span class="doc-sheet-block__hide">Убрать</span>
                <div class="doc-sheet-h3">Образец заполнения платежного поручения</div>
                <table class="doc-sheet-table doc-sheet-table_width_100">
                    <colgroup>
                        <col class="doc-sheet-table__col_width_60">
                        <col class="doc-sheet-table__col_width_10">
                        <col class="doc-sheet-table__col_width_30">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="doc-sheet-table__td">
                                <ul class="doc-sheet-table__list doc-sheet-table__list_inline">
                                    <li class="doc-sheet-table__list-item doc-sheet-table__list-item_width_50">
                                        ИНН
                                        <span class="doc-sheet-field">
                                            <input class="doc-sheet-field__input" type="text" value="7705667798" name="org_inn">
                                        </span>
                                    </li>
                                    <li class="doc-sheet-table__list-item doc-sheet-table__list-item_width_50">
                                        КПП
                                        <span class="doc-sheet-field">
                                            <input class="doc-sheet-field__input" type="text" value="671010011" name="org_cat">
                                        </span>
                                    </li>
                                </ul>
                            </td>
                            <td class="doc-sheet-table__td doc-sheet-table__td_align_bottom" rowspan="2">Сч. №</td>
                            <td class="doc-sheet-table__td doc-sheet-table__td_align_bottom" rowspan="2">
                                <span class="doc-sheet-field">
                                    <!-- TODO: Егор, что это? -->
                                    <input class="doc-sheet-field__input" type="text" value="40702810500005042124" name="wtf_number">
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="doc-sheet-table__td">
                                <div class="doc-sheet-row">Получатель</div>
                                <div class="doc-sheet-row">
                                    <!-- TODO: Узнать, может ли это отличаться от названия фирмы выше, в реквизитах -->
                                    <span class="doc-sheet-select">
                                        <select class="doc-sheet-select__el" name="org_type">
                                            <option selected>ООО</option>
                                            <option>ОАО</option>
                                            <option>ЗАО</option>
                                        </select>
                                    </span>
                                    <span class="doc-sheet-field">
                                        <span class="doc-sheet-field__before">&laquo;</span>
                                        <input class="doc-sheet-field__input" type="text" value="Первая межгалактическая корпорация" name="org_name">
                                        <span class="doc-sheet-field__after">&raquo;</span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="doc-sheet-table__td" rowspan="2">
                                <div class="doc-sheet-row">Банк получателя</div>
                                <div class="doc-sheet-row">
                                    <span class="doc-sheet-field">
                                        <input class="doc-sheet-field__input" type="text" value="АКБ «Федеральный звёздный банк»" name="org_bank">
                                    </span>
                                </div>
                            </td>
                            <td class="doc-sheet-table__td">БИК</td>
                            <td class="doc-sheet-table__td">
                                <span class="doc-sheet-field">
                                    <input class="doc-sheet-field__input" type="text" value="044585272" name="org_bic">
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="doc-sheet-table__td">Сч. №</td>
                            <td class="doc-sheet-table__td">
                                <span class="doc-sheet-field">
                                    <input class="doc-sheet-field__input" type="text" value="30101810800000000272" name="org_bank_number">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="doc-sheet-h1">
                Счет №
                <span class="doc-sheet-field">
                    <input class="doc-sheet-field__input" type="text" value="000289" name="number">
                </span>
                от
                <span class="doc-sheet-field">
                    <input class="doc-sheet-field__input" type="date" value="23 июля 2012 г.">
                    <input class="doc-sheet-field__input" type="hidden" value="2012-08-23" name="date">
                    <span class="doc-sheet-field__after">
                        <span class="doc-sheet-field__icon_calendar"></span>
                    </span>
                </span>
            </div>

            <table class="doc-sheet-table doc-sheet-table_border_none">
                <tbody>
                    <tr>
                        <!-- TODO: Узнать, правильно ли писать "Плательщик" и "Получатель" -->
                        <td class="doc-sheet-table__td">Плательщик:</td>
                        <td class="doc-sheet-table__td">
                            <span class="doc-sheet-select">
                                <select class="doc-sheet-select__el" name="client_type">
                                    <option>ООО</option>
                                    <option selected>ОАО</option>
                                    <option>ЗАО</option>
                                </select>
                            </span>
                            <span class="doc-sheet-field">
                                <span class="doc-sheet-field__before">&laquo;</span>
                                <input class="doc-sheet-field__input" type="text" value="Объединённый космический альянс" name="client_name">
                                <span class="doc-sheet-field__after">&raquo;</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="doc-sheet-table__td">Получатель:</td>
                        <td class="doc-sheet-table__td">
                            <!-- TODO: Узнать, может ли это отличаться от названия фирмы выше, в реквизитах -->
                            <span class="doc-sheet-select">
                                <select class="doc-sheet-select__el" name="org_type">
                                    <option selected>ООО</option>
                                    <option>ОАО</option>
                                    <option>ЗАО</option>
                                </select>
                            </span>
                            <span class="doc-sheet-field">
                                <span class="doc-sheet-field__before">&laquo;</span>
                                <input class="doc-sheet-field__input" type="text" value="Первая межгалактическая корпорация" name="org_name">
                                <span class="doc-sheet-field__after">&raquo;</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="doc-sheet-table doc-sheet-table_width_100">
                <colgroup>
                    <col class="doc-sheet-table__col_width_5">
                    <col class="doc-sheet-table__col_width_45">
                    <col class="doc-sheet-table__col_width_10">
                    <col class="doc-sheet-table__col_width_10">
                    <col class="doc-sheet-table__col_width_10">
                    <col class="doc-sheet-table__col_width_10">
                </colgroup>
                <thead>
                    <tr>
                        <th class="doc-sheet-table__th doc-sheet-table__td_align_center">№</th>
                        <th class="doc-sheet-table__th">Наименование товара</th>
                        <th class="doc-sheet-table__th">Единица</th>
                        <th class="doc-sheet-table__th">Количество</th>
                        <th class="doc-sheet-table__th">Цена</th>
                        <th class="doc-sheet-table__th">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">1</td>
                        <td class="doc-sheet-table__td">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="Звёздный истребитель T-65 X-Wing">
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="шт.">
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                            <span class="doc-field doc-field_range">
                                <button class="doc-field_range__decrease doc-button">
                                    <span class="doc-button__inner">&minus;</span>
                                </button>
                                <input class="doc-field__input" min="1" value="1">
                                <button class="doc-field_range__increase doc-button">
                                    <span class="doc-button__inner">+</span>
                                </button>
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="975 000.00">
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">975 000.00</td>
                    </tr>
                    <tr>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">2</td>
                        <td class="doc-sheet-table__td">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="Звёздный истребитель T-65 X-Wing">
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="шт.">
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                            <span class="doc-field doc-field_range">
                                <button class="doc-field_range__decrease doc-button">
                                    <span class="doc-button__inner">&minus;</span>
                                </button>
                                <input class="doc-field__input" min="1" value="1">
                                <button class="doc-field_range__increase doc-button">
                                    <span class="doc-button__inner">+</span>
                                </button>
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="975 000.00">
                            </span>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">975 000.00</td>
                    </tr>
                    <tr>
                        <td class="doc-sheet-table__td doc-sheet-table__border_none" colspan="2" rowspan="3">
                            <button class="doc-button doc-button_size_28 doc-button_add">
                                <span class="doc-button__inner">
                                    <i class="doc-button__icon"></i>
                                    Добавить ещё
                                </span>
                            </button>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__border_none doc-sheet-table__td_align_right" colspan="3">Итого</td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">975 000.00</td>
                    </tr>
                    <tr>
                        <td class="doc-sheet-table__td doc-sheet-table__border_none doc-sheet-table__td_align_right" colspan="3">
                            <div class="doc-dropdown doc-dropdown_appearance_select">
                                <div class="doc-dropdown__row">Без НДС</div>
                                <div class="doc-dropdown__row">НДС (18%)</div>
                                <div class="doc-dropdown__row">НДС (10%)</div>
                                <div class="doc-dropdown__row doc-dropdown__row_selectable_none">
                                    <label class="doc-dropdown__block">
                                        <input class="doc-dropdown__radio" type="radio" checked>
                                        НДС включен в стоимость
                                    </label>
                                    <label class="doc-dropdown__block">
                                        <input class="doc-dropdown__radio" type="radio">
                                        НДС насчитывается сверху <!-- TODO: Изменить формулировку -->
                                    </label>
                                </div>
                            </div>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_center">175 500.00</td>
                    </tr>
                    <tr>
                        <td class="doc-sheet-table__th doc-sheet-table__border_none doc-sheet-table__td_align_right" colspan="3">Итого</td>
                        <td class="doc-sheet-table__th doc-sheet-table__td_align_center">1 150 500.00</td>
                    </tr>
                </tbody>
            </table>

            <div class="doc-sheet-row">
                Всего наименований 1, на сумму 1 150 500.00 руб.
            </div>
            <div class="doc-sheet-row doc-sheet-b">
                Тридцать семь тысяч пятьсот шестнадцать рублей восемнадцать копеек
            </div>

            <div class="doc-sheet-block doc-sheet-block_not-required">
                <span class="doc-sheet-block__hide">Убрать</span>
                <div class="doc-sheet-block__title">Пояснительный текст</div>
                <div class="doc-sheet-field">
                    <textarea class="doc-sheet-field__textarea">Внимание! Счет действителен в течении 5 рабочих дней. Неоплаченный счет аннулируется. Товар отпускается по приходу денег на расчетный счет Поставщика при наличии копии платежного поручения, доверенности и паспорта. Оплата счета означает согласие с условиями поставки товара.</textarea>
                </div>
            </div>

            <div class="doc-sheet-signatures">
                <div class="doc-sheet-signatures__row">
                    <span class="doc-sheet-signatures__position">Руководитель</span>
                    <span class="doc-sheet-signatures__space">
                        <button class="doc-button doc-button_size_20 doc-sheet-signatures__button" name="director_sign">
                            <span class="doc-button__inner">Загрузить роспись</span>
                        </button>
                    </span>
                    <span class="doc-sheet-field">
                        <span class="doc-sheet-field__before">(</span>
                        <input class="doc-sheet-field__input" type="text" value="Иванов А.Б.">
                        <span class="doc-sheet-field__after">)</span>
                    </span>
                </div>
                <div class="doc-sheet-signatures__row">
                    <span class="doc-sheet-signatures__position">Главный бухгалтер</span>
                    <span class="doc-sheet-signatures__space">
                        <button class="doc-button doc-button_size_20 doc-sheet-signatures__button" name="booker_sign">
                            <span class="doc-button__inner">Загрузить роспись</span>
                        </button>
                    </span>
                    <span class="doc-sheet-field">
                        <span class="doc-sheet-field__before">(</span>
                        <input class="doc-sheet-field__input" type="text" value="Петрова В.Г.">
                        <span class="doc-sheet-field__after">)</span>
                    </span>
                </div>
            </div>

            <div class="doc-sheet-stamp">
                <div class="doc-sheet-stamp__title">Загрузить печать</div>
                <button class="doc-button doc-button_size_25 doc-sheet-stamp__button" name="printing">
                    <span class="doc-button__inner">Обзор...</span>
                </button>
            </div>

        </div>

        <div class="doc-buttons">
            <div class="doc-buttons__row doc-buttons__row_underline">
                <button class="doc-button doc-button_color_blue doc-button_size_36 doc-button_save">
                    <span class="doc-button__inner">
                        <i class="doc-button__icon"></i> Сохранить
                    </span>
                </button>
                <button class="doc-button doc-button_color_green  doc-button_size_36 doc-button_act">
                    <span class="doc-button__inner">
                        <i class="doc-button__icon"></i> Закрыть актом
                    </span>
                </button>
                <button class="doc-button doc-button_color_grey  doc-button_size_36 doc-button_preview">
                    <span class="doc-button__inner">
                        <i class="doc-button__icon"></i> Предпросмотр
                    </span>
                </button>
                <button class="doc-button doc-button_color_grey doc-button_size_36 doc-button_print">
                    <span class="doc-button__inner">
                        <i class="doc-button__icon"></i> Распечатать
                    </span>
                </button>
            </div>
            <div class="doc-buttons__row">
                <div class="doc-buttons-fieldset">
                    <span class="doc-buttons-fieldset__title">Загрузить в формате</span>
                    <button class="doc-button doc-button_color_grey doc-button_size_28 doc-button_pdf doc-button_bottom-control">
                        <span class="doc-button__inner">
                            <i class="doc-button__icon"></i> PDF
                        </span>
                    </button>
                    <button class="doc-button doc-button_color_grey doc-button_size_28 doc-button_doc doc-button_bottom-control">
                        <span class="doc-button__inner">
                            <i class="doc-button__icon"></i> DOC
                        </span>
                    </button>
                </div>
                <div class="doc-buttons-fieldset">
                    <span class="doc-buttons-fieldset__title">Отправить по почте</span>
                    <span class="doc-field">
                        <input class="doc-field__input" type="email" placeholder="Электронная почта">
                    </span>
                    <button class="doc-button doc-button_color_grey doc-button_size_28 doc-button_bottom-control" type="submit">
                        <span class="doc-button__inner">Отправить</span>
                    </button>
                </div>
                <div class="doc-buttons-fieldset">
                    <span class="doc-buttons-fieldset__title">Выставлять по почте регулярно</span>
                    <div class="doc-dropdown doc-dropdown_appearance_select">
                        <div class="doc-dropdown__row">Раз в месяц</div>
                        <div class="doc-dropdown__row">Раз в год</div>
                        <div class="doc-dropdown__row">
                            Раз в
                            <span class="doc-field doc-field_number doc-field_size_20">
                                <input class="doc-field__input" min="1" value="10">
                            </span>
                            дней
                        </div>
                    </div>
                    <span class="doc-field">
                        <input class="doc-field__input" type="email" placeholder="Электронная почта">
                    </span>
                    <button class="doc-button doc-button_color_grey doc-button_size_28 doc-button_bottom-control">
                        <span class="doc-button__inner">Выставлять регулярно</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock content %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/document.invoice.js"></script>
{% endblock js %}

{% block init-js %}
<script type="text/javascript">
    var Invoice = new Blanki.Invoice;
    Invoice.init();
</script>
{% endblock init-js %}

</body>
</html>
