{% extends 'base.html' %}

<!-- TODO: заполнить правильно title, meta и og теги для промо-страницы -->

{% block meta-description %}мета-дескрипшн{% endblock meta-description %}
{% block meta-keywords %}ключевые слова{% endblock meta-keywords %}
{% block og-description %}Описание для фейсбука{% endblock og-description %}
{% block body-classes %}promo{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/promo.css" rel="stylesheet">
<!--[if lte IE 8 ]>
<link href="{{ STATIC_URL }}css/common.ie.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/promo.ie.css" rel="stylesheet">
<![endif]-->
{% endblock css %}

{% block content %}

    <!--header-->

    <div class="promo-header">

        <div class="promo-header__logo">Blanki.biz</div>
        <div class="promo-header__title">
            <div class="promo-header__title-row-1">
                Выставить счет на оплату.
                <a class="promo-header__title-example-link" href="#">
                    Пример <i class="promo-header__title-example-icon"></i>
                </a>
            </div>
            <div class="promo-header__title-row-2">
                Бесплатно. Заполняется за минуту.
            </div>
        </div>

        <a class="promo-header__create promo-button" href="#">
            <span class="promo-button__big">Создать счет на оплату</span>
        </a>

        {% include 'auth-form.html' with class_name="promo-header__auth" %}

    </div>

    <!--/ header-->

    <!--general-->

    <div class="promo-general">

        <div class="promo-general__inner">

            <div class="promo-general__heading">
                <span class="g-nw"></span>
                Blanki.biz &mdash; это удобный и бесплатный инструмент для выставления
                счетов на оплату онлайн. Нажмите кнопку &laquo;Создать счет на оплату&raquo;, заполните
                минимум необходимых данных, и счет готов! Распечатайте его прямо с сайта, сохраните
                в формате DOC, PDF или отправьте по почте.
            </div>

            <div class="promo-general-advantages">
                <ul class="promo-general-advantages__column">
                    <li class="promo-general-advantages__item">
                        <span class="promo-general-advantages__icon">
                            <img class="promo-general-advantages__img" src="{{ STATIC_URL }}img/promo-icon-1.png">
                        </span>
                        <span class="promo-general-advantages__text">
                            <span class="promo-general-advantages__text-inner">
                                Заполнить и распечатать счет <span class="g-nw">на оплату за одну минуту.</span>
                            </span>
                        </span>
                    </li>
                    <li class="promo-general-advantages__item">
                        <span class="promo-general-advantages__icon">
                            <img class="promo-general-advantages__img" src="{{ STATIC_URL }}img/promo-icon-2.png">
                        </span>
                        <span class="promo-general-advantages__text">
                            <span class="promo-general-advantages__text-inner">
                                Загрузить в форматах DOC, PDF <span class="g-nw">или отправить по почте.</span>
                            </span>
                        </span>
                    </li>
                    <li class="promo-general-advantages__item">
                        <span class="promo-general-advantages__icon">
                            <img class="promo-general-advantages__img" src="{{ STATIC_URL }}img/promo-icon-3.png">
                        </span>
                        <span class="promo-general-advantages__text">
                            <span class="promo-general-advantages__text-inner">
                                Автоматически создавать и <span class="g-nw">присылать новые счета регулярно.</span>
                            </span>
                        </span>
                    </li>
                </ul>
                <ul class="promo-general-advantages__column">
                    <li class="promo-general-advantages__item">
                        <span class="promo-general-advantages__icon">
                            <img class="promo-general-advantages__img" src="{{ STATIC_URL }}img/promo-icon-4.png">
                        </span>
                        <span class="promo-general-advantages__text">
                            <span class="promo-general-advantages__text-inner">
                                Выставить акт одним кликом.
                            </span>
                        </span>
                    </li>
                    <li class="promo-general-advantages__item">
                        <span class="promo-general-advantages__icon">
                            <img class="promo-general-advantages__img" src="{{ STATIC_URL }}img/promo-icon-5.png">
                        </span>
                        <span class="promo-general-advantages__text">
                            <span class="promo-general-advantages__text-inner">
                                Интеллектуальная система автозаполнения &mdash; никаких лишних вычислений, а одну и ту же информацию не нужно вводить много раз.
                            </span>
                        </span>
                    </li>
                    <li class="promo-general-advantages__item">
                        <span class="promo-general-advantages__icon">
                            <img class="promo-general-advantages__img" src="{{ STATIC_URL }}img/promo-icon-6.png">
                        </span>
                        <span class="promo-general-advantages__text">
                            <span class="promo-general-advantages__text-inner">
                                Абсолютно бесплатно.
                            </span>
                        </span>
                    </li>
                </ul>
            </div>

        </div>

    </div>

    <!--/ general-->

    <!--text-->

    <div class="promo-info">

        <div class="promo-info__ad">
            <!--TODO: place google adwords code here-->
            <img src="{{ STATIC_URL }}img/ad.png">
        </div>

        <div class="promo-info__text">
            <h1 class="promo-info__text-h">Cчета на оплату онлайн</h1>
            <p class="promo-info__text-p">
                <em class="promo-info__text-i">Угол курса устойчив.</em> Проекция угловых скоростей,
                несмотря на внешние воздействия, заставляет перейти к более сложной системе дифференциальных
                уравнений, если добавить центр сил, что явно видно по фазовой траектории. Ускорение,
                <a class="promo-info__text-a" href="#">обобщая изложенное</a>, ортогонально не входит своими
                составляющими, что очевидно, в силы нормальных реакций связей, так же как и объект, составляя
                уравнения Эйлера для этой системы координат. Регулярная прецессия заставляет перейти к более
                сложной системе дифференциальных уравнений, если добавить период, действуя в рассматриваемой
                механической системе.
            </p>
            <p class="promo-info__text-p">
                Астатическая система координат Булгакова не зависит от скорости вращения внутреннего кольца
                подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения
                динамический центр подвеса до полного прекращения вращения. Регулярная прецессия требует
                большего внимания к анализу ошибок, которые даёт экваториальный момент, что является очевидным.
                В силу принципа виртуальных скоростей, момент сил требует большего внимания к анализу ошибок,
                которые даёт дифференциальный гирокомпас, изменяя направление движения.
            </p>
            <p class="promo-info__text-p">
                Угол курса устойчив. Проекция угловых скоростей, несмотря на внешние воздействия, заставляет
                перейти к более сложной системе дифференциальных уравнений, если добавить центр сил, что явно
                видно по фазовой траектории. Ускорение, обобщая изложенное, ортогонально не входит своими
                составляющими, что очевидно, в силы нормальных реакций связей, так же как и объект, составляя
                уравнения Эйлера для этой системы координат. Регулярная прецессия заставляет перейти к более
                сложной системе дифференциальных уравнений, если добавить период, действуя в рассматриваемой
                механической системе.
            </p>
        </div>

    </div>

    <!--/ text-->

    <!--start button-->

    <div class="promo-start">
        <span class="promo-start__arrow promo-start__arrow_dir_right"></span>
        <a class="promo-start__button promo-button" href="#">
            <span class="promo-button__big">Создать счет на оплату</span>
            <span class="promo-button__small">бесплатно за одну минуту</span>
        </a>
        <span class="promo-start__arrow promo-start__arrow_dir_left"></span>
    </div>

    <!--/ start button-->

    <!--footer-->

    <div class="footer">
        <div class="footer__inner">
            <div class="footer__copyright">
                &copy; Blanki.biz &mdash; счета на оплату онлайн, 2012
            </div>
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Вопросы и ответы</a>
                </li>
                <li class="footer__nav-item">
                    Напишите нам &mdash;
                    <a href="mailto:support@blanki.biz" class="footer__nav-link">support@blanki.biz</a>
                </li>
            </ul>
        </div>
    </div>

    <!--/ footer-->


{% endblock content %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/promo.js"></script>
{% endblock js %}

{% block init-js %}
<script type="text/javascript">
    var Auth = new Blanki.Auth();
    Auth.init();
</script>
{% endblock init-js %}

</body>
</html>
