{% extends 'base.html' %}

<!-- TODO: заполнить правильно title, meta и og теги для страницы счета на оплату -->

{% block meta-description %}мета-дескрипшн{% endblock meta-description %}
{% block meta-keywords %}ключевые слова{% endblock meta-keywords %}
{% block og-description %}Описание для фейсбука{% endblock og-description %}
{% block body-classes %}doc doc_invoice{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.css" rel="stylesheet">
<!--[if lte IE 8 ]>
<link href="{{ STATIC_URL }}css/common.ie.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.ie.css" rel="stylesheet">
<![endif]-->
{% endblock css %}

{% block content %}


    {% include 'doc-header.html' with user_logged_in="True" %}


    <div class="doc-tips">
        <div class="doc-tips__heading">Совет</div>
        <ul class="doc-tips__nav">
            <li class="doc-tips__nav-item doc-tips__nav-item_hide"></li>
            <li class="doc-tips__nav-item doc-tips__nav-item_next"> &rarr;</li>
        </ul>
        <div class="doc-tips__text">

        </div>
    </div>

    <div class="doc-ad"></div>

    <div class="doc-sheet">

        <div class="doc-sheet-block">

            <div class="doc-sheet-logo">
                <div class="doc-sheet-logo__title"></div>
                <button class="doc-sheet-button doc-sheet-logo__button"></button>
            </div>

            <div class="doc-sheet-org-info">

                <div class="doc-sheet-row">
                    <select class="doc-sheet-select">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                    <span class="doc-sheet-field">
                        <span class="doc-sheet-field__before">&laquo;</span>
                        <input class="doc-sheet-field__input" type="text" value="">
                        <span class="doc-sheet-field__after">&raquo;</span>
                    </span>
                </div>

                <div class="doc-sheet-row">
                    <span class="doc-sheet-field">
                        <input class="doc-sheet-field__input" type="text" value="">
                    </span>
                </div>

                <div class="doc-sheet-row">
                    <select class="doc-sheet-select">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>:
                    <span class="doc-sheet-field">
                        <input class="doc-sheet-field__input" type="text" value="">
                    </span>
                </div>

            </div>

        </div>


        <div class="doc-sheet-block doc-sheet-block_not-required">

            <span class="doc-sheet-block__hide"></span>
            <div class="doc-sheet-h3"></div>

            <table class="doc-sheet-table doc-sheet-table_width_100">

                <colgroup>
                    <col class="doc-sheet-table__col_width_60">
                    <col class="doc-sheet-table__col_width_10">
                    <col class="doc-sheet-table__col_width_30">
                </colgroup>

                <tbody>

                    <tr>
                        <td class="doc-sheet-table__td">
                            <ul class="doc-sheet-table__list doc-sheet-table__list_inline">
                                <li class="doc-sheet-table__list-item doc-sheet-table__list-item_width_50">
                                    ИНН
                                    <span class="doc-sheet-field">
                                        <input class="doc-sheet-field__input" type="text" value="">
                                    </span>
                                </li>
                                <li class="doc-sheet-table__list-item doc-sheet-table__list-item_width_50">
                                    КПП
                                    <span class="doc-sheet-field">
                                        <input class="doc-sheet-field__input" type="text" value="">
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_bottom" rowspan="2">Сч. №</td>
                        <td class="doc-sheet-table__td doc-sheet-table__td_align_bottom" rowspan="2">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="">
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="doc-sheet-table__td">
                            <div class="doc-sheet-row"></div>
                            <div class="doc-sheet-row">
                                <select class="doc-sheet-select">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                                <span class="doc-sheet-field">
                                    <span class="doc-sheet-field__before">&laquo;</span>
                                    <input class="doc-sheet-field__input" type="text" value="">
                                    <span class="doc-sheet-field__after">&raquo;</span>
                                </span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="doc-sheet-table__td" rowspan="2">
                            <div class="doc-sheet-row"></div>
                            <div class="doc-sheet-row">
                                <span class="doc-sheet-field">
                                    <input class="doc-sheet-field__input" type="text" value="">
                                </span>
                            </div>
                        </td>
                        <td class="doc-sheet-table__td">БИК</td>
                        <td class="doc-sheet-table__td">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="">
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="doc-sheet-table__td">Сч. №</td>
                        <td class="doc-sheet-table__td">
                            <span class="doc-sheet-field">
                                <input class="doc-sheet-field__input" type="text" value="">
                            </span>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>


        <div class="doc-sheet-h1">

            <span class="doc-sheet-field">
                <input class="doc-sheet-field__input" type="text" value="">
            </span>

            <span class="doc-sheet-field">
                <input class="doc-sheet-field__input" type="date" value="">
                <span class="doc-sheet-field__after">
                    <span class="doc-sheet-field__icon_calendar"></span>
                </span>
            </span>
        </div>

        <table class="doc-sheet-table doc-sheet-table_border_none">
            <tbody>
                <tr>
                    <td class="doc-sheet-table__td"></td>
                    <td class="doc-sheet-table__td">
                        <select class="doc-sheet-select">
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                        <span class="doc-sheet-field">
                            <span class="doc-sheet-field__before">&laquo;</span>
                            <input class="doc-sheet-field__input" type="text" value="">
                            <span class="doc-sheet-field__after">&raquo;</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="doc-sheet-table__td"></td>
                    <td class="doc-sheet-table__td">
                        <select class="doc-sheet-select">
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                        <span class="doc-sheet-field">
                            <span class="doc-sheet-field__before">&laquo;</span>
                            <input class="doc-sheet-field__input" type="text" value="">
                            <span class="doc-sheet-field__after">&raquo;</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="doc-sheet-table doc-sheet-table_width_100">

            <colgroup>
                <col class="doc-sheet-table__col_width_5">
                <col class="doc-sheet-table__col_width_45">
                <col class="doc-sheet-table__col_width_10">
                <col class="doc-sheet-table__col_width_10">
                <col class="doc-sheet-table__col_width_10">
                <col class="doc-sheet-table__col_width_10">
            </colgroup>

            <thead>
                <tr>
                    <th class="doc-sheet-table__th doc-sheet-table__td_align_center">№</th>
                    <th class="doc-sheet-table__th"></th>
                    <th class="doc-sheet-table__th"></th>
                    <th class="doc-sheet-table__th"></th>
                    <th class="doc-sheet-table__th"></th>
                    <th class="doc-sheet-table__th"></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">1</td>
                    <td class="doc-sheet-table__td">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="">
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="">
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                        <span class="doc-sheet-number">
                            <button class="doc-sheet-number_decrease doc-sheet-button">&minus;</button>
                            <input class="doc-sheet-number__input" type="text" value="">
                            <button class="doc-sheet-number_increase doc-sheet-button">+</button>
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="">
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">975 000.00</td>
                </tr>

                <tr>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">1</td>
                    <td class="doc-sheet-table__td">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="">
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="">
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                        <span class="doc-sheet-number">
                            <button class="doc-sheet-number_decrease doc-sheet-button">&minus;</button>
                            <input class="doc-sheet-number__input" type="text" value="">
                            <button class="doc-sheet-number_increase doc-sheet-button">+</button>
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">
                        <span class="doc-sheet-field">
                            <input class="doc-sheet-field__input" type="text" value="">
                        </span>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">975 000.00</td>
                </tr>

                <tr>
                    <td class="doc-sheet-table__td doc-sheet-table__border_none" colspan="2" rowspan="3">
                        <button class="doc-sheet-button doc-sheet-button_add">
                            <i class="doc-sheet-button__icon"></i>
                        </button>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__border_none doc-sheet-table__td_align_right" colspan="3"></td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">975 000.00</td>
                </tr>

                <tr>
                    <td class="doc-sheet-table__td doc-sheet-table__border_none doc-sheet-table__td_align_right" colspan="3">
                        <select class="doc-sheet-select">
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </td>
                    <td class="doc-sheet-table__td doc-sheet-table__td_align_center">175 500.00</td>
                </tr>

                <tr>
                    <td class="doc-sheet-table__th doc-sheet-table__border_none doc-sheet-table__td_align_right" colspan="3">
                        
                    </td>
                    <td class="doc-sheet-table__th doc-sheet-table__td_align_center">1 150 500.00</td>
                </tr>

            </tbody>

        </table>


        <div class="doc-sheet-row"></div>
        <div class="doc-sheet-row doc-sheet-b"></div>


        <div class="doc-sheet-block doc-sheet-block_not-required">
            <span class="doc-sheet-block__hide"></span>
            <div class="doc-sheet-block__title"></div>
            <div class="doc-sheet-field">
                <textarea class="doc-sheet-field__textarea"></textarea>
            </div>
        </div>

    


    </div>

    



{% endblock content %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/document.invoice.js"></script>
{% endblock js %}

{% block init-js %}
<script type="text/javascript">
    var Invoice = new Blanki.Invoice();
    Invoice.init();
</script>
{% endblock init-js %}

</body>
</html>
