{% extends 'base.html' %}

<!-- TODO: заполнить правильно title, meta и og теги для страницы счета на оплату -->

{% block meta-description %}мета-дескрипшн{% endblock meta-description %}
{% block meta-keywords %}ключевые слова{% endblock meta-keywords %}
{% block og-description %}Описание для фейсбука{% endblock og-description %}
{% block body-classes %}promo{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.css" rel="stylesheet">
<!--[if lte IE 8 ]>
<link href="{{ STATIC_URL }}css/common.ie.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.ie.css" rel="stylesheet">
<![endif]-->
{% endblock css %}

{% block content %}

111

{% endblock content %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/document.invoice.js"></script>
{% endblock js %}

{% block init-js %}
<script type="text/javascript">
    //Blanki.invoice.init();
</script>
{% endblock init-js %}

</body>
</html>
