{% extends 'base.html' %}

<!-- TODO: заполнить правильно title, meta и og теги для страницы счета на оплату -->

{% block meta-description %}мета-дескрипшн{% endblock meta-description %}
{% block meta-keywords %}ключевые слова{% endblock meta-keywords %}
{% block og-description %}Описание для фейсбука{% endblock og-description %}
{% block body-classes %}doc doc_invoice{% endblock %}

{% block css %}
<link href="{{ STATIC_URL }}css/common.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.css" rel="stylesheet">
<!--[if lte IE 8 ]>
<link href="{{ STATIC_URL }}css/common.ie.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/document.invoice.ie.css" rel="stylesheet">
<![endif]-->
{% endblock css %}

{% block content %}


    {% include 'doc-header.html' with user_logged_in="True" %}


    <div class="doc-tips">
        <div class="doc-tips__heading">Совет</div>
        <ul class="doc-tips__nav">
            <li class="doc-tips__nav-item doc-tips__nav-item_hide"></li>
            <li class="doc-tips__nav-item doc-tips__nav-item_next"> &rarr;</li>
        </ul>
        <div class="doc-tips__text">

        </div>
    </div>

    <div class="doc-ad"></div>





    <div class="doc-sheet">

        <div class="doc-sheet-block">

            <div class="doc-sheet-logo">
                <div class="doc-sheet-logo__title"></div>
                <button class="doc-sheet-button doc-sheet-logo__button"></button>
            </div>

            <div class="doc-sheet-org-info">

                <div class="doc-sheet-row">
                    <select class="doc-sheet-select">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                    <span class="doc-sheet-field">
                        <span class="doc-sheet-field__before">&laquo;</span>
                        <input class="doc-sheet-field__input" type="text" value="">
                        <span class="doc-sheet-field__after">&raquo;</span>
                    </span>
                </div>

                <div class="doc-sheet-row">
                    <span class="doc-sheet-field">
                        <input class="doc-sheet-field__input" type="text" value="">
                    </span>
                </div>

                <div class="doc-sheet-row">
                    <select class="doc-sheet-select">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>:
                    <span class="doc-sheet-field">
                        <input class="doc-sheet-field__input" type="text" value="">
                    </span>
                </div>

            </div>

        </div>




        




    </div>

    



{% endblock content %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/document.invoice.js"></script>
{% endblock js %}

{% block init-js %}
<script type="text/javascript">
    var Invoice = new Blanki.Invoice();
    Invoice.init();
</script>
{% endblock init-js %}

</body>
</html>
